<%= form_with(model: article) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, 'Titlu' %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description, "Descriere" %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :body, 'Continut articol' %>
    <%= form.rich_text_area :body %>
  </div>

  <div class="field">
    <%= form.label :banner, default: @article.banner %>
    <%= form.file_field :banner, accept: "image/*" %>
    <div>
      <% if article.banner.attached? %>
        <%= image_tag article.banner, width: "100vw", alt: "Article banner preview" %>
      <% end %>
    </div>
  </div>

  <div class="field">
    <%= form.label :author_id %>
    <%= form.collection_select :author_id, Author.order(:name), :id, :name %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, Category.order(:name), :id, :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
