<!DOCTYPE html>
<html>
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KK5ZPNM2YC"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

     gtag('config', 'G-KK5ZPNM2YC');
    </script>

    <meta property="og:site_name" content="Revista AxA">
    <meta name="description" content="Revista AxA - ochii și urechile Colegiului Național Dragoș-Vodă">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta author='sipandrei'>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('logo.png') %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:wght@300&display=swap" rel="stylesheet">     <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if @article.nil? or @article.id.nil?%>
        <title>Revista AxA CNDV</title>
        <meta property="og:title" content="Revista AxA CNDV">
        <meta property="og:description" content="Revista AxA - ochii și urechile Colegiului Național Dragoș-Vodă">
        <meta property="og:image" content="<%= asset_url('logo.png') %>">
    <% else %>
      <title><%= @article.title %> - Revista AxA CNDV</title>
      <meta property="og:title" content="<%= @article.title %> - Revista AxA CNDV">
      <meta property="og:description" content="<%= @article.description %>">
      <meta property="og:image" content="<%= polymorphic_url(@article.banner) %>">
      <meta property="og:type" content="article">
    <% end %>
    </head>

  <body>
    <header>
      <%= render "layouts/header" %>
    </header>

    <main>
      <div class="center">
        <%= render "layouts/alerts" %>
        <%= yield %>
      </div>
    </main>

    <footer>
      <%= render "layouts/footer" %>
    </footer>
  </body>
</html>
